<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Senai Cotia</title>
            <link rel="icon" type="image/x-icon" href="./imagens/logo_senai.png">
            <link rel="stylesheet" href ="styles.css">   
    </head>
<body>
    <main>
        <header>
            
        </header> 
        
        <div class="banner">
            <img id="logo"src="imagens/logo_senai.png"/>


        </div>
        
        <section>
            
            <button><article>Curso EAD</article> </button> 
            <article>Cursos Presenciais</article>
            <article>Nossa Sede</article>
            <article>Portal do Aluno</article>
            <article>Fala com nossa equipe</article>
        </section>
        <nav>
            <ul>
                <li><a href="#">Nossas unidades</a></li>
                <li><a href="#">Suporte</a></li>
                <li><a href="#"></a>Localização</li>
            </ul>
            </nav>
            
            <footer>
                <div class="text_footer"></div>
                <span class="destaque"> <b>Escola Senai Ricardo Lerner
                Rua Direita,955  Vila Santo Antonio - Cotia/SP - CEP 06708-280
                Telefone: (11) 4628-1600 E-mail:atendimento138@sp.senai.br</b></span>
                </footer>
            </footer>
             

        </main>

       




    












    </body>
</html>